<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <video id="playerVideo" webkit-playsinline>
      <source ng-src="./video/oceans.mp4">
    </video>

    <div id="progressBar" data-pct="">
      <svg
          version="1.1"
          baseProfile="full"
          xmlns="http://www.w3.org/2000/svg"
          width="200"
          height="200"
          class="svg-board">
        <circle
          cx="100"
          cy="100"
          r="50"
          stroke="#eee"
          stroke-width="6"
          fill="none" />
        <path
          id="ring"
          stroke="#ADA0E8"
          stroke-width="6"
          fill="none" />
        <circle
          cx="100"
          cy="100"
          r="47"
          stroke="#fff"
          stroke-width="0"
          fill="#fff" />
      </svg>
    </div>

    <div class="row">
      <p class="col col-50">Video duration </p>
      <p class="col col-50 text-center" id="videoTotalTime"></p>
    </div>
    <div class="row">
      <p class="col col-50">Current play time </p>
      <p class="col col-50 text-center" id="timer">0:00</p>
    </div>
    <div class="row">
      <p class="col col-50">Time countdown</p>
      <p class="col col-50 text-center" id="videoSeconds"></p>
    </div>

    <div class="row text-center">
      <div class="col col-50">
        <button id="volumeButton">Volume</button>
      </div>
      <div class="col col-50">
        <button id="playButton" ng-click="updateProgress()">Play</button>
      </div>
    </div>

  </ion-content>
</ion-view>
