/*example1 stylesheet*/
video {
  width: 100%;
}

button {
  width: 100px;
  height: 36px;
  margin: 10px auto;
  text-align: center;
  line-height: 32px;
  display: block;
  background: #ADA0E8;
  color: #fff;
  border: none;
}
.svg-board {
  display: block;
  margin: 0 auto;
}

/*example2 stylesheet*/
.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}
